.header-link{
    color: white;
    text-decoration: none;
    /* line-height: 100px; */
}
.company-name{
    background-color: rgba(0, 0, 0, 0.685);
    line-height: 60px;
    margin-bottom: 0;
    color: white;
}
.company-name:hover{
    background-color:cadetblue;
    color:rgb(177, 0, 35);
}
.header-info{
    text-decoration: none;
    color: black;
}